{% extends 'index.html' %}
{% load static %}

{% block title %}
Редактирование кнопки главного меню - @{{bot.bot_username}}
{% endblock %}

{% block content %}
<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Добавление новой цепочки</h1>
    <p class="mb-4">Здесь вы можете создать новую цепочку для вашего бота.</p>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary"></h6>
        </div>
        <div class="card-body">

            <div class="container mt-5">
                <div class="card">
                    <div class="card-body">
                        <form id="botForm" method="post" action="{% url 'chain-create' bot.id %}">
                            {% csrf_token %}

                            <p class="card-text h3">
                                <strong>Название:</strong>
                            </p>

                            <textarea name="name" class="form-control" rows="1" maxlength="64" oninput="updateCharCount(this, 'remainingCharsButtonText', 64)"></textarea><br>
                            <div id="charCountButtonText">
                                Осталось символов: <span id="remainingCharsButtonText">64</span>/64
                            </div>

                            {% if messages %}
                                {% for message in messages %}
                                    <div class="alert {% if message.tags == 'error' %}alert-danger{% else %}alert-success{% endif %}">
                                        {{ message }}
                                    </div>
                                {% endfor %}
                            {% endif %}

                            <div class="d-flex justify-content-center gap-2">
                                <button type="submit" class="btn btn-success">Добавить</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>
{% endblock %}

{% block sidebar-nav %}
    {% include 'bots/include/nav_bot_manage.html' with bot=bot %}
{% endblock %}

{% block scripts %}
    <script src="{% static 'bootstrap/js/button-fields-counter.js' %}"></script>
{% endblock %}