    <!-- Emoji Modal -->
    <div class="modal fade" id="emojiModal" tabindex="-1" role="dialog" aria-labelledby="emojiModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="emojiModalLabel">Выберите смайлик</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="emoji-container">
                        <div class="emoji-category">
                            <h6>Эмоции</h6>
                            <div class="emoji-list">
                                <span class="emoji" onclick="insertEmoji('😀')">😀</span>
                                <span class="emoji" onclick="insertEmoji('😃')">😃</span>
                                <span class="emoji" onclick="insertEmoji('😄')">😄</span>
                                <span class="emoji" onclick="insertEmoji('😁')">😁</span>
                                <span class="emoji" onclick="insertEmoji('😆')">😆</span>
                                <span class="emoji" onclick="insertEmoji('😅')">😅</span>
                                <span class="emoji" onclick="insertEmoji('😂')">😂</span>
                                <span class="emoji" onclick="insertEmoji('🤣')">🤣</span>
                                <span class="emoji" onclick="insertEmoji('😊')">😊</span>
                                <span class="emoji" onclick="insertEmoji('😇')">😇</span>
                                <span class="emoji" onclick="insertEmoji('🙂')">🙂</span>
                                <span class="emoji" onclick="insertEmoji('🙃')">🙃</span>
                                <span class="emoji" onclick="insertEmoji('😉')">😉</span>
                                <span class="emoji" onclick="insertEmoji('😌')">😌</span>
                                <span class="emoji" onclick="insertEmoji('😍')">😍</span>
                                <span class="emoji" onclick="insertEmoji('🥰')">🥰</span>
                                <span class="emoji" onclick="insertEmoji('😘')">😘</span>
                                <span class="emoji" onclick="insertEmoji('😗')">😗</span>
                                <span class="emoji" onclick="insertEmoji('😙')">😙</span>
                                <span class="emoji" onclick="insertEmoji('😚')">😚</span>
                                <span class="emoji" onclick="insertEmoji('😋')">😋</span>
                                <span class="emoji" onclick="insertEmoji('😛')">😛</span>
                                <span class="emoji" onclick="insertEmoji('😝')">😝</span>
                                <span class="emoji" onclick="insertEmoji('😜')">😜</span>
                                <span class="emoji" onclick="insertEmoji('🤪')">🤪</span>
                                <span class="emoji" onclick="insertEmoji('🤨')">🤨</span>
                                <span class="emoji" onclick="insertEmoji('🧐')">🧐</span>
                                <span class="emoji" onclick="insertEmoji('🤓')">🤓</span>
                                <span class="emoji" onclick="insertEmoji('😎')">😎</span>
                                <span class="emoji" onclick="insertEmoji('🤩')">🤩</span>
                                <span class="emoji" onclick="insertEmoji('🥳')">🥳</span>
                                <span class="emoji" onclick="insertEmoji('😏')">😏</span>
                                <span class="emoji" onclick="insertEmoji('😒')">😒</span>
                                <span class="emoji" onclick="insertEmoji('😞')">😞</span>
                                <span class="emoji" onclick="insertEmoji('😔')">😔</span>
                                <span class="emoji" onclick="insertEmoji('😟')">😟</span>
                                <span class="emoji" onclick="insertEmoji('😕')">😕</span>
                                <span class="emoji" onclick="insertEmoji('🙁')">🙁</span>
                                <span class="emoji" onclick="insertEmoji('☹️')">☹️</span>
                                <span class="emoji" onclick="insertEmoji('😣')">😣</span>
                                <span class="emoji" onclick="insertEmoji('😖')">😖</span>
                                <span class="emoji" onclick="insertEmoji('😫')">😫</span>
                                <span class="emoji" onclick="insertEmoji('😩')">😩</span>
                                <span class="emoji" onclick="insertEmoji('🥺')">🥺</span>
                                <span class="emoji" onclick="insertEmoji('😢')">😢</span>
                                <span class="emoji" onclick="insertEmoji('😭')">😭</span>
                                <span class="emoji" onclick="insertEmoji('😤')">😤</span>
                                <span class="emoji" onclick="insertEmoji('😠')">😠</span>
                                <span class="emoji" onclick="insertEmoji('😡')">😡</span>
                                <span class="emoji" onclick="insertEmoji('🤬')">🤬</span>
                                <span class="emoji" onclick="insertEmoji('🤯')">🤯</span>
                                <span class="emoji" onclick="insertEmoji('😳')">😳</span>
                                <span class="emoji" onclick="insertEmoji('🥵')">🥵</span>
                                <span class="emoji" onclick="insertEmoji('🥶')">🥶</span>
                                <span class="emoji" onclick="insertEmoji('😱')">😱</span>
                                <span class="emoji" onclick="insertEmoji('😨')">😨</span>
                                <span class="emoji" onclick="insertEmoji('😰')">😰</span>
                                <span class="emoji" onclick="insertEmoji('😥')">😥</span>
                                <span class="emoji" onclick="insertEmoji('😓')">😓</span>
                                <span class="emoji" onclick="insertEmoji('🤗')">🤗</span>
                                <span class="emoji" onclick="insertEmoji('🤔')">🤔</span>
                                <span class="emoji" onclick="insertEmoji('🤭')">🤭</span>
                                <span class="emoji" onclick="insertEmoji('🤫')">🤫</span>
                                <span class="emoji" onclick="insertEmoji('🤥')">🤥</span>
                                <span class="emoji" onclick="insertEmoji('😶')">😶</span>
                                <span class="emoji" onclick="insertEmoji('😐')">😐</span>
                                <span class="emoji" onclick="insertEmoji('😑')">😑</span>
                                <span class="emoji" onclick="insertEmoji('😬')">😬</span>
                                <span class="emoji" onclick="insertEmoji('🙄')">🙄</span>
                                <span class="emoji" onclick="insertEmoji('😯')">😯</span>
                                <span class="emoji" onclick="insertEmoji('😦')">😦</span>
                                <span class="emoji" onclick="insertEmoji('😧')">😧</span>
                                <span class="emoji" onclick="insertEmoji('😮')">😮</span>
                                <span class="emoji" onclick="insertEmoji('😲')">😲</span>
                                <span class="emoji" onclick="insertEmoji('🥱')">🥱</span>
                                <span class="emoji" onclick="insertEmoji('😴')">😴</span>
                                <span class="emoji" onclick="insertEmoji('🤤')">🤤</span>
                                <span class="emoji" onclick="insertEmoji('😪')">😪</span>
                                <span class="emoji" onclick="insertEmoji('😵')">😵</span>
                                <span class="emoji" onclick="insertEmoji('🤐')">🤐</span>
                                <span class="emoji" onclick="insertEmoji('🥴')">🥴</span>
                                <span class="emoji" onclick="insertEmoji('🤢')">🤢</span>
                                <span class="emoji" onclick="insertEmoji('🤮')">🤮</span>
                                <span class="emoji" onclick="insertEmoji('🤧')">🤧</span>
                                <span class="emoji" onclick="insertEmoji('😷')">😷</span>
                                <span class="emoji" onclick="insertEmoji('🤒')">🤒</span>
                                <span class="emoji" onclick="insertEmoji('🤕')">🤕</span>
                                <span class="emoji" onclick="insertEmoji('🤑')">🤑</span>
                                <span class="emoji" onclick="insertEmoji('🤠')">🤠</span>
                                <span class="emoji" onclick="insertEmoji('😈')">😈</span>
                                <span class="emoji" onclick="insertEmoji('👿')">👿</span>
                                <span class="emoji" onclick="insertEmoji('👹')">👹</span>
                                <span class="emoji" onclick="insertEmoji('👺')">👺</span>
                                <span class="emoji" onclick="insertEmoji('🤡')">🤡</span>
                                <span class="emoji" onclick="insertEmoji('💩')">💩</span>
                                <span class="emoji" onclick="insertEmoji('👻')">👻</span>
                                <span class="emoji" onclick="insertEmoji('💀')">💀</span>
                                <span class="emoji" onclick="insertEmoji('☠️')">☠️</span>
                                <span class="emoji" onclick="insertEmoji('👽')">👽</span>
                                <span class="emoji" onclick="insertEmoji('👾')">👾</span>
                                <span class="emoji" onclick="insertEmoji('🤖')">🤖</span>
                                <span class="emoji" onclick="insertEmoji('🎃')">🎃</span>
                                <span class="emoji" onclick="insertEmoji('😺')">😺</span>
                                <span class="emoji" onclick="insertEmoji('😸')">😸</span>
                                <span class="emoji" onclick="insertEmoji('😹')">😹</span>
                                <span class="emoji" onclick="insertEmoji('😻')">😻</span>
                                <span class="emoji" onclick="insertEmoji('😼')">😼</span>
                                <span class="emoji" onclick="insertEmoji('😽')">😽</span>
                                <span class="emoji" onclick="insertEmoji('🙀')">🙀</span>
                                <span class="emoji" onclick="insertEmoji('😿')">😿</span>
                                <span class="emoji" onclick="insertEmoji('😾')">😾</span>
                            </div>
                        </div>

                        <div class="emoji-category">
                            <h6>Действия</h6>
                            <div class="emoji-list">
                                <span class="emoji" onclick="insertEmoji('👋')">👋</span>
                                    <span class="emoji" onclick="insertEmoji('🤚')">🤚</span>
                                    <span class="emoji" onclick="insertEmoji('🖐️')">🖐️</span>
                                    <span class="emoji" onclick="insertEmoji('✋')">✋</span>
                                    <span class="emoji" onclick="insertEmoji('🖖')">🖖</span>
                                    <span class="emoji" onclick="insertEmoji('👌')">👌</span>
                                    <span class="emoji" onclick="insertEmoji('🤏')">🤏</span>
                                    <span class="emoji" onclick="insertEmoji('✌️')">✌️</span>
                                    <span class="emoji" onclick="insertEmoji('🤞')">🤞</span>
                                    <span class="emoji" onclick="insertEmoji('🤟')">🤟</span>
                                    <span class="emoji" onclick="insertEmoji('🤘')">🤘</span>
                                    <span class="emoji" onclick="insertEmoji('🤙')">🤙</span>
                                    <span class="emoji" onclick="insertEmoji('👈')">👈</span>
                                    <span class="emoji" onclick="insertEmoji('👉')">👉</span>
                                    <span class="emoji" onclick="insertEmoji('👆')">👆</span>
                                    <span class="emoji" onclick="insertEmoji('🖕')">🖕</span>
                                    <span class="emoji" onclick="insertEmoji('👇')">👇</span>
                                    <span class="emoji" onclick="insertEmoji('☝️')">☝️</span>
                                    <span class="emoji" onclick="insertEmoji('👍')">👍</span>
                                    <span class="emoji" onclick="insertEmoji('👎')">👎</span>
                                    <span class="emoji" onclick="insertEmoji('✊')">✊</span>
                                    <span class="emoji" onclick="insertEmoji('👊')">👊</span>
                                    <span class="emoji" onclick="insertEmoji('🤛')">🤛</span>
                                    <span class="emoji" onclick="insertEmoji('🤜')">🤜</span>
                                    <span class="emoji" onclick="insertEmoji('👏')">👏</span>
                                    <span class="emoji" onclick="insertEmoji('🙌')">🙌</span>
                                    <span class="emoji" onclick="insertEmoji('👐')">👐</span>
                                    <span class="emoji" onclick="insertEmoji('🤲')">🤲</span>
                                    <span class="emoji" onclick="insertEmoji('🤝')">🤝</span>
                                    <span class="emoji" onclick="insertEmoji('🙏')">🙏</span>
                                    <span class="emoji" onclick="insertEmoji('✍️')">✍️</span>
                                    <span class="emoji" onclick="insertEmoji('💅')">💅</span>
                                    <span class="emoji" onclick="insertEmoji('🤳')">🤳</span>
                                    <span class="emoji" onclick="insertEmoji('💪')">💪</span>
                                    <span class="emoji" onclick="insertEmoji('🦾')">🦾</span>
                                    <span class="emoji" onclick="insertEmoji('🦿')">🦿</span>
                                    <span class="emoji" onclick="insertEmoji('🦵')">🦵</span>
                                    <span class="emoji" onclick="insertEmoji('🦶')">🦶</span>
                                    <span class="emoji" onclick="insertEmoji('👂')">👂</span>
                                    <span class="emoji" onclick="insertEmoji('🦻')">🦻</span>
                                    <span class="emoji" onclick="insertEmoji('👃')">👃</span>
                                    <span class="emoji" onclick="insertEmoji('🧠')">🧠</span>
                                    <span class="emoji" onclick="insertEmoji('🦷')">🦷</span>
                                    <span class="emoji" onclick="insertEmoji('🦴')">🦴</span>
                                    <span class="emoji" onclick="insertEmoji('👀')">👀</span>
                                    <span class="emoji" onclick="insertEmoji('👁️')">👁️</span>
                                    <span class="emoji" onclick="insertEmoji('👅')">👅</span>
                                    <span class="emoji" onclick="insertEmoji('👄')">👄</span>
                                    <span class="emoji" onclick="insertEmoji('👶')">👶</span>
                                    <span class="emoji" onclick="insertEmoji('🧒')">🧒</span>
                                    <span class="emoji" onclick="insertEmoji('👦')">👦</span>
                                    <span class="emoji" onclick="insertEmoji('👧')">👧</span>
                                    <span class="emoji" onclick="insertEmoji('🧑')">🧑</span>
                                    <span class="emoji" onclick="insertEmoji('👱')">👱</span>
                                    <span class="emoji" onclick="insertEmoji('👨')">👨</span>
                                    <span class="emoji" onclick="insertEmoji('🧔')">🧔</span>
                                    <span class="emoji" onclick="insertEmoji('👩')">👩</span>
                                    <span class="emoji" onclick="insertEmoji('🧓')">🧓</span>
                                    <span class="emoji" onclick="insertEmoji('👴')">👴</span>
                                    <span class="emoji" onclick="insertEmoji('👵')">👵</span>
                                    <span class="emoji" onclick="insertEmoji('🙍')">🙍</span>
                                    <span class="emoji" onclick="insertEmoji('🙎')">🙎</span>
                                    <span class="emoji" onclick="insertEmoji('🙅')">🙅</span>
                                    <span class="emoji" onclick="insertEmoji('🙆')">🙆</span>
                                    <span class="emoji" onclick="insertEmoji('💁')">💁</span>
                                    <span class="emoji" onclick="insertEmoji('🙋')">🙋</span>
                                    <span class="emoji" onclick="insertEmoji('🧏')">🧏</span>
                                    <span class="emoji" onclick="insertEmoji('🙇')">🙇</span>
                                    <span class="emoji" onclick="insertEmoji('🤦')">🤦</span>
                                    <span class="emoji" onclick="insertEmoji('🤷')">🤷</span>
                                    <span class="emoji" onclick="insertEmoji('👮')">👮</span>
                                    <span class="emoji" onclick="insertEmoji('🕵️')">🕵️</span>
                                    <span class="emoji" onclick="insertEmoji('💂')">💂</span>
                                    <span class="emoji" onclick="insertEmoji('🥷')">🥷</span>
                                    <span class="emoji" onclick="insertEmoji('👷')">👷</span>
                                    <span class="emoji" onclick="insertEmoji('🤴')">🤴</span>
                                    <span class="emoji" onclick="insertEmoji('👸')">👸</span>
                                    <span class="emoji" onclick="insertEmoji('👳')">👳</span>
                                    <span class="emoji" onclick="insertEmoji('👲')">👲</span>
                                    <span class="emoji" onclick="insertEmoji('🧕')">🧕</span>
                                    <span class="emoji" onclick="insertEmoji('🤵')">🤵</span>
                                    <span class="emoji" onclick="insertEmoji('👰')">👰</span>
                                    <span class="emoji" onclick="insertEmoji('🤰')">🤰</span>
                                    <span class="emoji" onclick="insertEmoji('🤱')">🤱</span>
                                    <span class="emoji" onclick="insertEmoji('👼')">👼</span>
                                    <span class="emoji" onclick="insertEmoji('🎅')">🎅</span>
                                    <span class="emoji" onclick="insertEmoji('🤶')">🤶</span>
                                    <span class="emoji" onclick="insertEmoji('🦸')">🦸</span>
                                    <span class="emoji" onclick="insertEmoji('🦹')">🦹</span>
                                    <span class="emoji" onclick="insertEmoji('🧙')">🧙</span>
                                    <span class="emoji" onclick="insertEmoji('🧚')">🧚</span>
                                    <span class="emoji" onclick="insertEmoji('🧛')">🧛</span>
                                    <span class="emoji" onclick="insertEmoji('🧜')">🧜</span>
                                    <span class="emoji" onclick="insertEmoji('🧝')">🧝</span>
                                    <span class="emoji" onclick="insertEmoji('🧞')">🧞</span>
                                    <span class="emoji" onclick="insertEmoji('🧟')">🧟</span>
                                    <span class="emoji" onclick="insertEmoji('💆')">💆</span>
                                    <span class="emoji" onclick="insertEmoji('💇')">💇</span>
                                    <span class="emoji" onclick="insertEmoji('🚶')">🚶</span>
                                    <span class="emoji" onclick="insertEmoji('🧍')">🧍</span>
                                    <span class="emoji" onclick="insertEmoji('🧎')">🧎</span>
                                    <span class="emoji" onclick="insertEmoji('🏃')">🏃</span>
                                    <span class="emoji" onclick="insertEmoji('💃')">💃</span>
                                    <span class="emoji" onclick="insertEmoji('🕺')">🕺</span>
                                    <span class="emoji" onclick="insertEmoji('🕴️')">🕴️</span>
                                    <span class="emoji" onclick="insertEmoji('🧖')">🧖</span>
                                    <span class="emoji" onclick="insertEmoji('🧗')">🧗</span>
                                    <span class="emoji" onclick="insertEmoji('🤺')">🤺</span>
                                    <span class="emoji" onclick="insertEmoji('🏇')">🏇</span>
                                    <span class="emoji" onclick="insertEmoji('⛷️')">⛷️</span>
                                    <span class="emoji" onclick="insertEmoji('🏂')">🏂</span>
                                    <span class="emoji" onclick="insertEmoji('🏌️')">🏌️</span>
                                    <span class="emoji" onclick="insertEmoji('🏄')">🏄</span>
                                    <span class="emoji" onclick="insertEmoji('🚣')">🚣</span>
                                    <span class="emoji" onclick="insertEmoji('🏊')">🏊</span>
                                    <span class="emoji" onclick="insertEmoji('⛹️')">⛹️</span>
                                    <span class="emoji" onclick="insertEmoji('🏋️')">🏋️</span>
                                    <span class="emoji" onclick="insertEmoji('🚴')">🚴</span>
                                    <span class="emoji" onclick="insertEmoji('🚵')">🚵</span>
                                    <span class="emoji" onclick="insertEmoji('🤸')">🤸</span>
                                    <span class="emoji" onclick="insertEmoji('🤼')">🤼</span>
                                    <span class="emoji" onclick="insertEmoji('🤽')">🤽</span>
                                    <span class="emoji" onclick="insertEmoji('🤾')">🤾</span>
                                    <span class="emoji" onclick="insertEmoji('🤹')">🤹</span>
                                    <span class="emoji" onclick="insertEmoji('🧘')">🧘</span>
                                    <span class="emoji" onclick="insertEmoji('🛀')">🛀</span>
                                    <span class="emoji" onclick="insertEmoji('🛌')">🛌</span>
                                    <span class="emoji" onclick="insertEmoji('🧑‍🤝‍🧑')">🧑‍🤝‍🧑</span>
                                    <span class="emoji" onclick="insertEmoji('👭')">👭</span>
                                    <span class="emoji" onclick="insertEmoji('👫')">👫</span>
                                    <span class="emoji" onclick="insertEmoji('👬')">👬</span>
                                    <span class="emoji" onclick="insertEmoji('💏')">💏</span>
                                    <span class="emoji" onclick="insertEmoji('💑')">💑</span>
                                    <span class="emoji" onclick="insertEmoji('👪')">👪</span>
                                    <span class="emoji" onclick="insertEmoji('🗣️')">🗣️</span>
                                    <span class="emoji" onclick="insertEmoji('👤')">👤</span>
                                    <span class="emoji" onclick="insertEmoji('👥')">👥</span>
                                    <span class="emoji" onclick="insertEmoji('🫂')">🫂</span>
                                    <span class="emoji" onclick="insertEmoji('👣')">👣</span>
                            </div>
                        </div>

                        <div class="emoji-category">
                            <h6>Предметы</h6>
                            <div class="emoji-list">
                                <span class="emoji" onclick="insertEmoji('👓')">👓</span>
                                <span class="emoji" onclick="insertEmoji('🕶️')">🕶️</span>
                                <span class="emoji" onclick="insertEmoji('🥽')">🥽</span>
                                <span class="emoji" onclick="insertEmoji('🥼')">🥼</span>
                                <span class="emoji" onclick="insertEmoji('🦺')">🦺</span>
                                <span class="emoji" onclick="insertEmoji('👔')">👔</span>
                                <span class="emoji" onclick="insertEmoji('👕')">👕</span>
                                <span class="emoji" onclick="insertEmoji('👖')">👖</span>
                                <span class="emoji" onclick="insertEmoji('🧣')">🧣</span>
                                <span class="emoji" onclick="insertEmoji('🧤')">🧤</span>
                                <span class="emoji" onclick="insertEmoji('🧥')">🧥</span>
                                <span class="emoji" onclick="insertEmoji('🧦')">🧦</span>
                                <span class="emoji" onclick="insertEmoji('👗')">👗</span>
                                <span class="emoji" onclick="insertEmoji('👘')">👘</span>
                                <span class="emoji" onclick="insertEmoji('🥻')">🥻</span>
                                <span class="emoji" onclick="insertEmoji('🩱')">🩱</span>
                                <span class="emoji" onclick="insertEmoji('🩲')">🩲</span>
                                <span class="emoji" onclick="insertEmoji('🩳')">🩳</span>
                                <span class="emoji" onclick="insertEmoji('👙')">👙</span>
                                <span class="emoji" onclick="insertEmoji('👚')">👚</span>
                                <span class="emoji" onclick="insertEmoji('👛')">👛</span>
                                <span class="emoji" onclick="insertEmoji('👜')">👜</span>
                                <span class="emoji" onclick="insertEmoji('👝')">👝</span>
                                <span class="emoji" onclick="insertEmoji('🛍️')">🛍️</span>
                                <span class="emoji" onclick="insertEmoji('🎒')">🎒</span>
                                <span class="emoji" onclick="insertEmoji('🩴')">🩴</span>
                                <span class="emoji" onclick="insertEmoji('👞')">👞</span>
                                <span class="emoji" onclick="insertEmoji('👟')">👟</span>
                                <span class="emoji" onclick="insertEmoji('🥾')">🥾</span>
                                <span class="emoji" onclick="insertEmoji('🥿')">🥿</span>
                                <span class="emoji" onclick="insertEmoji('👠')">👠</span>
                                <span class="emoji" onclick="insertEmoji('👡')">👡</span>
                                <span class="emoji" onclick="insertEmoji('🩰')">🩰</span>
                                <span class="emoji" onclick="insertEmoji('👢')">👢</span>
                                <span class="emoji" onclick="insertEmoji('👑')">👑</span>
                                <span class="emoji" onclick="insertEmoji('👒')">👒</span>
                                <span class="emoji" onclick="insertEmoji('🎩')">🎩</span>
                                <span class="emoji" onclick="insertEmoji('🎓')">🎓</span>
                                <span class="emoji" onclick="insertEmoji('🧢')">🧢</span>
                                <span class="emoji" onclick="insertEmoji('🪖')">🪖</span>
                                <span class="emoji" onclick="insertEmoji('⛑️')">⛑️</span>
                                <span class="emoji" onclick="insertEmoji('📿')">📿</span>
                                <span class="emoji" onclick="insertEmoji('💄')">💄</span>
                                <span class="emoji" onclick="insertEmoji('💍')">💍</span>
                                <span class="emoji" onclick="insertEmoji('💎')">💎</span>
                                <span class="emoji" onclick="insertEmoji('🔇')">🔇</span>
                                <span class="emoji" onclick="insertEmoji('🔈')">🔈</span>
                                <span class="emoji" onclick="insertEmoji('🔉')">🔉</span>
                                <span class="emoji" onclick="insertEmoji('🔊')">🔊</span>
                                <span class="emoji" onclick="insertEmoji('📢')">📢</span>
                                <span class="emoji" onclick="insertEmoji('📣')">📣</span>
                                <span class="emoji" onclick="insertEmoji('📯')">📯</span>
                                <span class="emoji" onclick="insertEmoji('🔔')">🔔</span>
                                <span class="emoji" onclick="insertEmoji('🔕')">🔕</span>
                                <span class="emoji" onclick="insertEmoji('🎼')">🎼</span>
                                <span class="emoji" onclick="insertEmoji('🎵')">🎵</span>
                                <span class="emoji" onclick="insertEmoji('🎶')">🎶</span>
                                <span class="emoji" onclick="insertEmoji('🎙️')">🎙️</span>
                                <span class="emoji" onclick="insertEmoji('🎚️')">🎚️</span>
                                <span class="emoji" onclick="insertEmoji('🎛️')">🎛️</span>
                                <span class="emoji" onclick="insertEmoji('🎤')">🎤</span>
                                <span class="emoji" onclick="insertEmoji('🎧')">🎧</span>
                                <span class="emoji" onclick="insertEmoji('📻')">📻</span>
                                <span class="emoji" onclick="insertEmoji('🎷')">🎷</span>
                                <span class="emoji" onclick="insertEmoji('🎸')">🎸</span>
                                <span class="emoji" onclick="insertEmoji('🎹')">🎹</span>
                                <span class="emoji" onclick="insertEmoji('🎺')">🎺</span>
                                <span class="emoji" onclick="insertEmoji('🎻')">🎻</span>
                                <span class="emoji" onclick="insertEmoji('🪕')">🪕</span>
                                <span class="emoji" onclick="insertEmoji('🥁')">🥁</span>
                                <span class="emoji" onclick="insertEmoji('📱')">📱</span>
                                <span class="emoji" onclick="insertEmoji('📲')">📲</span>
                                <span class="emoji" onclick="insertEmoji('☎️')">☎️</span>
                                <span class="emoji" onclick="insertEmoji('📞')">📞</span>
                                <span class="emoji" onclick="insertEmoji('📟')">📟</span>
                                <span class="emoji" onclick="insertEmoji('📠')">📠</span>
                                <span class="emoji" onclick="insertEmoji('🔋')">🔋</span>
                                <span class="emoji" onclick="insertEmoji('🔌')">🔌</span>
                                <span class="emoji" onclick="insertEmoji('💻')">💻</span>
                                <span class="emoji" onclick="insertEmoji('🖥️')">🖥️</span>
                                <span class="emoji" onclick="insertEmoji('🖨️')">🖨️</span>
                                <span class="emoji" onclick="insertEmoji('⌨️')">⌨️</span>
                                <span class="emoji" onclick="insertEmoji('🖱️')">🖱️</span>
                                <span class="emoji" onclick="insertEmoji('🖲️')">🖲️</span>
                                <span class="emoji" onclick="insertEmoji('💽')">💽</span>
                                <span class="emoji" onclick="insertEmoji('💾')">💾</span>
                                <span class="emoji" onclick="insertEmoji('💿')">💿</span>
                                <span class="emoji" onclick="insertEmoji('📀')">📀</span>
                                <span class="emoji" onclick="insertEmoji('🧮')">🧮</span>
                                <span class="emoji" onclick="insertEmoji('🎥')">🎥</span>
                                <span class="emoji" onclick="insertEmoji('🎞️')">🎞️</span>
                                <span class="emoji" onclick="insertEmoji('📽️')">📽️</span>
                                <span class="emoji" onclick="insertEmoji('🎬')">🎬</span>
                                <span class="emoji" onclick="insertEmoji('📺')">📺</span>
                                <span class="emoji" onclick="insertEmoji('📷')">📷</span>
                                <span class="emoji" onclick="insertEmoji('📸')">📸</span>
                                <span class="emoji" onclick="insertEmoji('📹')">📹</span>
                                <span class="emoji" onclick="insertEmoji('📼')">📼</span>
                                <span class="emoji" onclick="insertEmoji('🔍')">🔍</span>
                                <span class="emoji" onclick="insertEmoji('🔎')">🔎</span>
                                <span class="emoji" onclick="insertEmoji('🕯️')">🕯️</span>
                                <span class="emoji" onclick="insertEmoji('💡')">💡</span>
                                <span class="emoji" onclick="insertEmoji('🔦')">🔦</span>
                                <span class="emoji" onclick="insertEmoji('🏮')">🏮</span>
                                <span class="emoji" onclick="insertEmoji('🪔')">🪔</span>
                                <span class="emoji" onclick="insertEmoji('📔')">📔</span>
                                <span class="emoji" onclick="insertEmoji('📕')">📕</span>
                                <span class="emoji" onclick="insertEmoji('📖')">📖</span>
                                <span class="emoji" onclick="insertEmoji('📗')">📗</span>
                                <span class="emoji" onclick="insertEmoji('📘')">📘</span>
                                <span class="emoji" onclick="insertEmoji('📙')">📙</span>
                                <span class="emoji" onclick="insertEmoji('📚')">📚</span>
                                <span class="emoji" onclick="insertEmoji('📓')">📓</span>
                                <span class="emoji" onclick="insertEmoji('📒')">📒</span>
                                <span class="emoji" onclick="insertEmoji('📃')">📃</span>
                                <span class="emoji" onclick="insertEmoji('📜')">📜</span>
                                <span class="emoji" onclick="insertEmoji('📄')">📄</span>
                                <span class="emoji" onclick="insertEmoji('📰')">📰</span>
                                <span class="emoji" onclick="insertEmoji('🗞️')">🗞️</span>
                                <span class="emoji" onclick="insertEmoji('📑')">📑</span>
                                <span class="emoji" onclick="insertEmoji('🔖')">🔖</span>
                                <span class="emoji" onclick="insertEmoji('🏷️')">🏷️</span>
                                <span class="emoji" onclick="insertEmoji('💰')">💰</span>
                                <span class="emoji" onclick="insertEmoji('🪙')">🪙</span>
                                <span class="emoji" onclick="insertEmoji('💴')">💴</span>
                                <span class="emoji" onclick="insertEmoji('💵')">💵</span>
                                <span class="emoji" onclick="insertEmoji('💶')">💶</span>
                                <span class="emoji" onclick="insertEmoji('💷')">💷</span>
                                <span class="emoji" onclick="insertEmoji('💸')">💸</span>
                                <span class="emoji" onclick="insertEmoji('💳')">💳</span>
                                <span class="emoji" onclick="insertEmoji('🧾')">🧾</span>
                                <span class="emoji" onclick="insertEmoji('💹')">💹</span>
                                <span class="emoji" onclick="insertEmoji('✉️')">✉️</span>
                                <span class="emoji" onclick="insertEmoji('📧')">📧</span>
                                <span class="emoji" onclick="insertEmoji('📨')">📨</span>
                                <span class="emoji" onclick="insertEmoji('📩')">📩</span>
                                <span class="emoji" onclick="insertEmoji('📤')">📤</span>
                                <span class="emoji" onclick="insertEmoji('📥')">📥</span>
                                <span class="emoji" onclick="insertEmoji('📦')">📦</span>
                                <span class="emoji" onclick="insertEmoji('📫')">📫</span>
                                <span class="emoji" onclick="insertEmoji('📪')">📪</span>
                                <span class="emoji" onclick="insertEmoji('📬')">📬</span>
                                <span class="emoji" onclick="insertEmoji('📭')">📭</span>
                                <span class="emoji" onclick="insertEmoji('📮')">📮</span>
                                <span class="emoji" onclick="insertEmoji('🗳️')">🗳️</span>
                                <span class="emoji" onclick="insertEmoji('✏️')">✏️</span>
                                <span class="emoji" onclick="insertEmoji('✒️')">✒️</span>
                                <span class="emoji" onclick="insertEmoji('🖋️')">🖋️</span>
                                <span class="emoji" onclick="insertEmoji('🖊️')">🖊️</span>
                                <span class="emoji" onclick="insertEmoji('🖌️')">🖌️</span>
                                <span class="emoji" onclick="insertEmoji('🖍️')">🖍️</span>
                                <span class="emoji" onclick="insertEmoji('📝')">📝</span>
                                <span class="emoji" onclick="insertEmoji('💼')">💼</span>
                                <span class="emoji" onclick="insertEmoji('📁')">📁</span>
                                <span class="emoji" onclick="insertEmoji('📂')">📂</span>
                                <span class="emoji" onclick="insertEmoji('🗂️')">🗂️</span>
                                <span class="emoji" onclick="insertEmoji('📅')">📅</span>
                                <span class="emoji" onclick="insertEmoji('📆')">📆</span>
                                <span class="emoji" onclick="insertEmoji('🗒️')">🗒️</span>
                                <span class="emoji" onclick="insertEmoji('🗓️')">🗓️</span>
                                <span class="emoji" onclick="insertEmoji('📇')">📇</span>
                                <span class="emoji" onclick="insertEmoji('📈')">📈</span>
                                <span class="emoji" onclick="insertEmoji('📉')">📉</span>
                                <span class="emoji" onclick="insertEmoji('📊')">📊</span>
                                <span class="emoji" onclick="insertEmoji('📋')">📋</span>
                                <span class="emoji" onclick="insertEmoji('📌')">📌</span>
                                <span class="emoji" onclick="insertEmoji('📍')">📍</span>
                                <span class="emoji" onclick="insertEmoji('📎')">📎</span>
                                <span class="emoji" onclick="insertEmoji('🖇️')">🖇️</span>
                                <span class="emoji" onclick="insertEmoji('📏')">📏</span>
                                <span class="emoji" onclick="insertEmoji('📐')">📐</span>
                                <span class="emoji" onclick="insertEmoji('✂️')">✂️</span>
                                <span class="emoji" onclick="insertEmoji('🗃️')">🗃️</span>
                                <span class="emoji" onclick="insertEmoji('🗄️')">🗄️</span>
                                <span class="emoji" onclick="insertEmoji('🗑️')">🗑️</span>
                                <span class="emoji" onclick="insertEmoji('🔒')">🔒</span>
                                <span class="emoji" onclick="insertEmoji('🔓')">🔓</span>
                                <span class="emoji" onclick="insertEmoji('🔏')">🔏</span>
                                <span class="emoji" onclick="insertEmoji('🔐')">🔐</span>
                                <span class="emoji" onclick="insertEmoji('🔑')">🔑</span>
                                <span class="emoji" onclick="insertEmoji('🗝️')">🗝️</span>
                                <span class="emoji" onclick="insertEmoji('🔨')">🔨</span>
                                <span class="emoji" onclick="insertEmoji('🪓')">🪓</span>
                                <span class="emoji" onclick="insertEmoji('⛏️')">⛏️</span>
                                <span class="emoji" onclick="insertEmoji('⚒️')">⚒️</span>
                                <span class="emoji" onclick="insertEmoji('🛠️')">🛠️</span>
                                <span class="emoji" onclick="insertEmoji('🗡️')">🗡️</span>
                                <span class="emoji" onclick="insertEmoji('⚔️')">⚔️</span>
                                <span class="emoji" onclick="insertEmoji('🔫')">🔫</span>
                                <span class="emoji" onclick="insertEmoji('🪃')">🪃</span>
                                <span class="emoji" onclick="insertEmoji('🏹')">🏹</span>
                                <span class="emoji" onclick="insertEmoji('🛡️')">🛡️</span>
                                <span class="emoji" onclick="insertEmoji('🪚')">🪚</span>
                                <span class="emoji" onclick="insertEmoji('🔧')">🔧</span>
                                <span class="emoji" onclick="insertEmoji('🪛')">🪛</span>
                                <span class="emoji" onclick="insertEmoji('🔩')">🔩</span>
                                <span class="emoji" onclick="insertEmoji('⚙️')">⚙️</span>
                                <span class="emoji" onclick="insertEmoji('🗜️')">🗜️</span>
                                <span class="emoji" onclick="insertEmoji('⚖️')">⚖️</span>
                                <span class="emoji" onclick="insertEmoji('🦯')">🦯</span>
                                <span class="emoji" onclick="insertEmoji('🔗')">🔗</span>
                                <span class="emoji" onclick="insertEmoji('⛓️')">⛓️</span>
                                <span class="emoji" onclick="insertEmoji('🪝')">🪝</span>
                                <span class="emoji" onclick="insertEmoji('🧰')">🧰</span>
                                <span class="emoji" onclick="insertEmoji('🧲')">🧲</span>
                                <span class="emoji" onclick="insertEmoji('🪜')">🪜</span>
                                <span class="emoji" onclick="insertEmoji('⚗️')">⚗️</span>
                                <span class="emoji" onclick="insertEmoji('🧪')">🧪</span>
                                <span class="emoji" onclick="insertEmoji('🧫')">🧫</span>
                                <span class="emoji" onclick="insertEmoji('🧬')">🧬</span>
                                <span class="emoji" onclick="insertEmoji('🔬')">🔬</span>
                                <span class="emoji" onclick="insertEmoji('🔭')">🔭</span>
                                <span class="emoji" onclick="insertEmoji('📡')">📡</span>
                                <span class="emoji" onclick="insertEmoji('💉')">💉</span>
                                <span class="emoji" onclick="insertEmoji('🩸')">🩸</span>
                                <span class="emoji" onclick="insertEmoji('💊')">💊</span>
                                <span class="emoji" onclick="insertEmoji('🩹')">🩹</span>
                                <span class="emoji" onclick="insertEmoji('🩺')">🩺</span>
                                <span class="emoji" onclick="insertEmoji('🚪')">🚪</span>
                                <span class="emoji" onclick="insertEmoji('🛗')">🛗</span>
                                <span class="emoji" onclick="insertEmoji('🪞')">🪞</span>
                                <span class="emoji" onclick="insertEmoji('🪟')">🪟</span>
                                <span class="emoji" onclick="insertEmoji('🛏️')">🛏️</span>
                                <span class="emoji" onclick="insertEmoji('🛋️')">🛋️</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                </div>
            </div>
        </div>
    </div>
