{% extends 'index.html' %}

{% block title %}
Bot
{% endblock %}

{% block content %}
<div class="container-fluid">

    <h1 class="h3 mb-2 text-gray-800">Как создать телеграм-бота и получить token?</h1>
    <ol>
        <li>Перейдите по ссылке на официальный телеграм канал <a href="https://t.me/BotFather">@BotFather</a>.</li>
        <li>Нажмите <code>Начать</code>/<code>Start</code></li>
        <li>Введите команду <code>/newbot</code>.</li>
        <li>Введите название(name) вашего бота <code>qwerty</code>.</li>
        <li>Введите имя пользователя(username) вашего бота(обратите внимание, что в слово bot в конце обязательно, например <code>TetrisBot</code> или <code>tetris_bot</code>) .</li>
        <li>Скопируйте ваш token(пример token'а <code>1234567890:QWERTYUIOPasdfghjklZXCVBNMqwertyuio</code>)</li>
    </ol>
    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary"></h6>
        </div>
        <div class="card-body">

                <div class="container mt-5">
                    <h1>Добавить нового бота</h1>
                    <form method="post">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit" class="btn btn-primary">Добавить</button>
                    </form>
                    {% if error %}
                        <div class="alert alert-danger mt-3">{{ error }}</div>
                    {% endif %}
                </div>

        </div>
    </div>

</div>
{% endblock %}
