{% extends 'index.html' %}
{% load static %}

{% block title %}
Конструктор - @{{bot.username}}
{% endblock %}

{% block content %}
<div class="container-fluid">

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary"></h6>
        </div>
        <div class="card-body">

            <div class="container mt-5">
                <h1>Telegram Bot @{{ bot.username }}</h1>
                <div class="card">
                    <div class="card-body">
                        <form id="botForm" method="post" action="{% url 'bot-details' bot.id %}">
                            {% csrf_token %}
                            <p class="card-text h3">
                                <strong>Имя пользователя:</strong> <a href="https://t.me/{{bot.username}}" target="_blank"> @{{ bot.username }} </a><br>
                                <strong>Имя:</strong> {{ bot.name }}<br>

                                <div class="d-flex">
                                    <strong class="card-text h3">Активен:</strong>
                                    <div class="form-check form-switch">
                                        <input class="" type="checkbox" id="is_active" name="is_active"
                                               style="transform: scale(2);" {% if bot.is_active %}checked{% endif %}>
                                    </div>
                                </div><br>

                                <div class="d-flex align-items-center">
                                    <strong class="card-text h3 me-10">Token:</strong>
                                    <div class="input-group mb-3">
                                        <input type="text" class="form-control" id="tokenInput" name="token" value="{{ bot.token }}" style="display: none;">
                                        <button type="button" id="showTokenBtn" class="btn btn-primary btn-sm">Показать</button>
                                    </div>
                                </div><br>
                            </p>

                            {% if messages %}
                            {% for message in messages %}
                                <div class="alert {% if message.tags == 'error' %}alert-danger{% else %}alert-success{% endif %}">
                                    {{ message }}
                                </div>
                            {% endfor %}
                            {% endif %}

                            <button type="submit" class="btn btn-success">Сохранить изменения</button>
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>
{% endblock %}

{% block sidebar-nav %}
    {% include 'bots/include/nav_bot_manage.html' with bot=bot %}
{% endblock %}

{% block scripts %}
    <script src="{% static 'bootstrap/js/bot-details.js' %}"></script>
{% endblock %}