{% extends 'index.html' %}

{% block title %}
Ваши боты
{% endblock %}

{% block content %}
<div class="container-fluid">

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary"></h6>
        </div>
        <div class="card-body">

                <div class="container mt-5">
                    <h1>Список ваших ботов</h1>

                    <ul class="list-group">
                        {% for bot in bots %}
                            <li class="list-group-item h4">
                                <a href="https://t.me/{{bot.bot_username}}" target="_blank">@{{ bot.bot_username }}</a> -
                                <a href="{% url 'bot-details' bot.id %}">Перейти в конструктор</a>

                            </li>
                        {% empty %}
                            <li class="list-group-item">У вас нету ботов. <a href="{% url 'add-bot' %}">Добавить </a></li>
                        {% endfor %}
                    </ul>

                </div>

        </div>
    </div>

</div>
{% endblock %}
