{% extends 'index.html' %}
{% load static %}

{% block title %}
Редактирование кнопки главного меню - @{{bot.bot_username}}
{% endblock %}

{% block content %}
<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Редактирование кнопки главного меню</h1>
    <p class="mb-4">Здесь вы можете отредактировать кнопку и действия которые она выполняет.</p>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary"></h6>
        </div>
        <div class="card-body">

            <div class="container mt-5">
                <h1>Telegram Bot @{{ bot.bot_username }}</h1>
                <div class="card">
                    <div class="card-body">
                        <form id="botForm" method="post" action="{% url 'update-bot-main-menu-button' bot.id button.id %}">
                            {% csrf_token %}

                            <p class="card-text h3">
                                <strong>Текст кнопки:</strong>
                            </p>

                            <textarea name="button_text" class="form-control" rows="9" maxlength="64" oninput="updateCharCount(this, 'remainingCharsButtonText', 64)">{{ button.button_text }}</textarea><br>
                            <div id="charCountButtonText">
                                Осталось символов: <span id="remainingCharsButtonText">64</span>/64
                            </div>

                            <p class="card-text h3">
                                <strong>Текст ответного сообщения:</strong>
                            </p>
                            <textarea name="reply_text" class="form-control" rows="9" maxlength="3000" oninput="updateCharCount(this, 'remainingCharsReplyText', 3000)">{{ button.reply_text }}</textarea><br>
                            <div id="charCountReplyText">
                                Осталось символов: <span id="remainingCharsReplyText">3000</span>/3000
                            </div>

                            {% if messages %}
                                {% for message in messages %}
                                    <div class="alert {% if message.tags == 'error' %}alert-danger{% else %}alert-success{% endif %}">
                                        {{ message }}
                                    </div>
                                {% endfor %}
                            {% endif %}

                            <button type="submit" class="btn btn-success">Сохранить изменения</button>
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>
{% endblock %}

{% block sidebar-nav %}
    {% include 'bots/include/nav_bot_manage.html' with bot=bot %}
{% endblock %}

{% block scripts %}
    <script src="{% static 'bootstrap/js/button-fields-counter.js' %}"></script>
{% endblock %}