{% extends 'index.html' %}
{% load static %}

{% block title %}
Настройка главного меню - @{{bot.bot_username}}
{% endblock %}

{% block content %}
<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Настройка главного меню и приветствия</h1>
    <p class="mb-4">Здесь вы можете настроить кнопки главного меню и приветствие (отображается при выполнении команды /start)</p>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary"></h6>
        </div>
        <div class="card-body">

            <div class="container mt-5">
                <h1>Telegram Bot @{{ bot.bot_username }}</h1>
                <div class="card">
                    <div class="card-body">
                        <form id="botForm" method="post" action="{% url 'bot-main-menu' bot.id %}">
                            {% csrf_token %}

                            <p class="card-text h3">
                                <strong>Приветственное сообщение:</strong>
                            </p>

                            <!-- Текстовое поле с ограничением символов -->
                            <textarea name="welcome_message" class="form-control" rows="9" maxlength="3000" oninput="updateCharCount(this)">{{ bot_main_menu.welcome_message }}</textarea><br>

                            <!-- Отображение счетчика символов -->
                            <div id="charCount">
                                Осталось символов: <span id="remainingChars">3000</span>/3000
                            </div>

                            {% if bot_main_menu.buttons %}
                                <p class="card-text h3">
                                    <strong>Кнопки:</strong>
                                </p>
                                {% for button in bot_main_menu.buttons %}
                                    <div class="button-container">
                                        <a href="{% url 'bot-main-menu-button' bot.id button.id %}">
                                            <button type="button" class="btn btn-outline-info btn-lg mb-4">{{ button.button_text }}</button>
                                        </a>
                                    </div>
                                {% endfor %}
                            {% else %}
                                <p>Кнопок нет.</p>
                            {% endif %}

                            {% if messages %}
                                {% for message in messages %}
                                    <div class="alert {% if message.tags == 'error' %}alert-danger{% else %}alert-success{% endif %}">
                                        {{ message }}
                                    </div>
                                {% endfor %}
                            {% endif %}

                            <button type="submit" class="btn btn-success">Сохранить изменения</button>
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>
{% endblock %}

{% block sidebar-nav %}
    {% include 'bots/include/nav_bot_manage.html' with bot=bot %}
{% endblock %}

{% block scripts %}
    <script src="{% static 'bootstrap/js/main-menu-field-counter.js' %}"></script>
{% endblock %}